<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->


    <!-- <bean id="alien1" class="com.telusko.demo1.Alien" scope="prototype">
    </bean>  -->
    <!-- <bean id="alien2" class="com.telusko.demo1.Alien">
    </bean>  -->

    <bean id="alien1" class="com.telusko.demo1.Alien" >
        <property name="age" value="21"></property>
         <property name="laptop" ref="laptop"></property> <!--for reference to another bean -->
    </bean>
    <!-- make sure to have a setter method for laptop in Alien class -->
    <!-- make sure that you should have a ref created for laptop bean before you can use it in alien1 bean -->
    <bean id="laptop" class="com.telusko.demo1.Laptop">
    </bean> 
</beans>

<!-- prototype scope: every time you call getBean, a new object will be created
singleton scope: every time you call getBean, the same object will be returned -->